/* Studio */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  border: none;
  cursor: pointer;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* header */
.header {
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
/* main */
.menu-link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
  position: relative;
}
.menu-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.menu {
  display: flex;
}
.items {
  display: flex;
  gap: 40px;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* contact */
.contact-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 151px;
  left: 1133px;
  top: 24px;
}
.contact-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 153px;
  left: 940px;
  top: 24px;
}
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: #404bbf;
}
.contact-link {
  display: flex;
  padding: 24px 0px;
  gap: 40px;
  margin-left: auto;
}
/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.logo-txt {
  color: #2e2f42;
}
/* hero */
.hero-beck {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/brckground/people-office.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
}
.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn-0 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 24px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
}
.btn-0:hover,
.btn-0:focus {
  background: #404bbf;
}
/* section 1 */
.advanteges-txt {
  gap: 24px;
  display: flex;
  padding-left: auto;
  padding-right: auto;
}
.section-advantages {
  padding: 120px 0px;
}
.section-advanteges-alltext {
  width: 264px;
}
.section-advantages-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.section-advantages-txt {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-icon-all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background: #f4f4fd;
}
/* section 2 */
.section-activity-all {
  padding-left: auto;
  padding-right: auto;
  padding-bottom: 120px;
}
.section-activity {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-activity-items {
  gap: 24px;
}
/* section 3 */
.section-team {
  display: flex;
  background: #f4f4fd;
  padding: 120px 0px;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-team-items {
  gap: 24px;
}
.team-photo-beck {
  border-radius: 0 0 4px 4px;
  background-color: white;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-team-photo {
  display: flex;
}
.team-name-position {
  padding: 32px 16px;
}
.section-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-icon-all {
  margin-top: 8px;
  gap: 24px;
  display: flex;
  justify-content: center;
}
.social-team {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
}
.team-icon {
  fill: white;
}
.social-team:hover,
.social-team:focus {
  background: #404bbf;
}
/* 
==================
     SECTION 4
===================
 */
.customers {
  padding-top: 120px;
  padding-bottom: 130px;
}
.customers-txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
  text-align: center;
}
.customers-icon-all {
  display: flex;
  gap: 24px;
}
.bg-customers-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  gap: 24px;
  height: 88px;
  color: #8e8f99;
}
.bg-customers-icon:hover,
.bg-customers-icon:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
}
.customers-logo {
  fill: currentColor;
}
.customers-logo:hover,
.customers-logo:focus {
  color: currentColor;
}
/* footer */
.all-footer {
  display: flex;
  gap: 120px;
}
.footer {
  background: #2e2f42;
  padding: 100px 0px;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo-txt-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.txt-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 256px;
}
.footer-icon-txt {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-icon-all {
  gap: 16px;
  display: flex;
}
.footer-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  fill: #f4f4fd;
}
.footer-icon-link {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  height: 40px;
  width: 40px;
}
.footer-icon-link:hover {
  background: #31d0aa;
}
.container-footer {
  display: flex;
  flex-direction: column;
}
.container-footer-icon {
}
/* Portfolio */
/* section */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* btn */
.button {
  padding: 16px 32px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.btn {
  font-weight: 500;
  background-color: #f4f4fd;
  color: #4d5ae5;
  border-radius: 4px;
}
.btn-all {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* img */
.gallery {
  display: flex;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-photo-beck:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-photo {
  width: 360px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  color: #ffffff;
  padding: 10px;
  line-height: 1.2;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms linear;
}
.portfolio-photo-beck:hover .overlay,
.portfolio-photo-beck:focus .overlay {
  transform: translateY(0%);
}
.gallery-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.gallery-desxription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.photo-txt-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-photo-beck {
  background-color: white;
  box-sizing: border-box;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.modal-icon {
}
