/* Studio */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  list-style: none;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.navigation {
  display: flex;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .container {
    /* 320px <-- Phone screen <-- Infinity */
    min-width: 320px;
    max-width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* 768px <-- Tablet screen <-- Infinity */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* 1200px <-- Phone screen <-- Infinity */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
}
/* header */
.header {
  box-sizing: border-box;
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}
/* main */
@media screen and (min-width: 320px) {
  .items {
    display: none;
  }
  .contact-link {
    display: none;
  }
  .logo {
    margin: 0 0 0 16px;
  }
  .btn-0 {
    margin: 0 auto;
  }
  .menu-toggle {
    padding: 0;
    margin-left: auto;
    margin-right: 16px;
  }
}
@media screen and (min-width: 768px) {
  .items {
    display: flex;
    gap: 40px;
  }
  .contact-link {
    display: flex;
    gap: 0px;
    margin-left: auto;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .items {
    display: flex;
    gap: 40px;
  }
  .contact-link {
    display: flex;
    padding: 24px 0px;
    gap: 40px;
    margin-left: auto;
    flex-direction: row;
  }
  .btn-0 {
    margin: 0 auto;
  }
  .menu-toggle {
    display: none;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
}
.menu-toggle {
  background: #ffffff;
  border: none;
}
.menu-link {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current {
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.menu {
  display: flex;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
/* contact */
.contact-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 151px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 153px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: #404bbf;
}
/* logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.logo-txt {
  color: #2e2f42;
}
/* hero */
.hero-beck {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/brckground/people-office.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
}
.hero {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn-0 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 24px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-0:hover,
.btn-0:focus {
  background: #404bbf;
}
/* section 1 */
.advanteges-txt {
  gap: 24px;
  display: flex;
  padding-left: auto;
  padding-right: auto;
}
.section-advantages {
  padding: 120px 0px;
}
@media screen and (min-width: 320px) {
  .advanteges-txt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding-left: auto;
    padding-right: auto;
  }
  .section-advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    display: flex;
    justify-content: center;
  }
  .section-advantages-txt {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .advantages-icon {
    opacity: 0;
  }
  .advantages-icon-all {
    background: #ffffff;
    height: 0px;
  }
  .section-advanteges-alltext {
    width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .section-advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
  }
  .section-advantages-txt {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 356px;
    margin-bottom: 48px;
  }
  .section-advanteges-alltext {
    width: 356px;
  }
  .advanteges-txt {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .section-advantages-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: flex;
    justify-content: flex-start;
  }
  .section-advantages-txt {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
  }
  .advantages-icon {
    opacity: 1;
  }
  .advantages-icon-all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #f4f4fd;
  }
  .section-advanteges-alltext {
    width: 264px;
  }
  .advanteges-txt {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
  }
}

/* section 2 */
@media screen and (min-width: 320px) {
  .section-activity-all {
    display: none;
  }
  .section-activity {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section-activity-all {
    display: none;
  }
  .section-activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-activity-all {
    display: flex;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 120px;
  }
  .section-activity {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  .section-activity-items {
    gap: 24px;
  }
}

/* section 3 */
@media screen and (min-width: 320px) {
  .section-team-items {
    gap: 72px;
    display: flex;
    flex-wrap: wrap;
  }
  .team-photo-beck {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .section-team-items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 40px;
  }
}
.section-team {
  display: flex;
  background: #f4f4fd;
  padding: 120px 0px;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-team-items {
  gap: 24px;
}
.team-photo-beck {
  border-radius: 0 0 4px 4px;
  background-color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-team-photo {
  display: flex;
}
.team-name-position {
  padding: 32px 16px;
}
.section-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-icon-all {
  margin-top: 8px;
  gap: 24px;
  display: flex;
  justify-content: center;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-team {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon {
  fill: white;
}
.social-team:hover,
.social-team:focus {
  background: #404bbf;
}
/* 
==================
     SECTION 4
===================
 */
@media screen and (min-width: 320px) {
  .customers-icon-all {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  .bg-customers-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 168px;
    margin-bottom: 56px;
    height: 88px;
    color: #8e8f99;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .customers-icon-all {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .bg-customers-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 168px;
    height: 88px;
    color: #8e8f99;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .customers-icon-all {
    display: flex;
  }
}
.customers {
  padding-top: 120px;
  padding-bottom: 130px;
}
.customers-txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
  text-align: center;
}
.bg-customers-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 168px;
  height: 88px;
  color: #8e8f99;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bg-customers-icon:hover,
.bg-customers-icon:focus {
  border: 1px solid #404bbf;
  color: #404bbf;
}
.customers-logo {
  width: 104px;
  height: 56px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-logo:hover,
.customers-logo:focus {
  color: currentColor;
}
/* footer */
@media screen and (min-width: 320px) {
  .all-footer {
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .txt-footer {
    width: 268px;
  }
  .container-footer-icon {
    margin: 0 auto;
  }
  .footer-icon-txt {
    display: flex;
    justify-content: center;
  }
  .footer-subscribe-form {
    margin: 0 auto;
  }
  .subscribe-form {
    display: flex;
    flex-direction: column;
  }
  .subscribe-form-txt {
    display: flex;
    justify-content: center;
  }
  .footer-btn {
    margin: 16px auto;
  }
}
@media screen and (min-width: 768px) {
  .all-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
  .container-footer {
    margin-left: 93px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .txt-footer {
    width: 268px;
  }
  .container-footer-icon {
    margin: 0;
  }
  .footer-icon-txt {
    display: flex;
    justify-content: center;
  }
  .footer-subscribe-form {
    margin-left: 93px;
  }
  .subscribe-form {
    display: flex;
    flex-direction: row;
  }
  .subscribe-form-txt {
    display: flex;
    justify-content: flex-start;
  }
  .footer-btn {
    display: flex;
    margin: 16px auto;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .all-footer {
  }
  .container-footer {
    margin: 0;
  }
  .txt-footer {
  }
  .container-footer-icon {
    margin-left: 120px;
    margin-right: 80px;
  }
  .footer-icon-txt {
  }
  .footer-subscribe-form {
    margin: 0;
  }
  .subscribe-form {
  }
  .subscribe-form-txt {
  }
  .footer-btn {
  }
}

.footer {
  background: #2e2f42;
  padding: 100px 0px;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo-txt-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.txt-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 256px;
}
.footer-icon-txt {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-icon-all {
  gap: 16px;
  display: flex;
}
.footer-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  fill: #f4f4fd;
}
.footer-icon-link {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  height: 40px;
  width: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background: #31d0aa;
}
.subscribe-form-txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.input-footer {
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  width: 264px;
  height: 40px;
  margin-top: 16px;
  border-radius: 4px;
  background: #2e2f42;
}
.subscribe-form {
  gap: 24px;
  display: flex;
}
/* Portfolio */
@media screen and (min-width: 320px) {
  .btn-all {
    flex-wrap: wrap;
    margin-left: 16px;
  }
  .btn-1 {
    margin-right: 50px;
  }
  .button {
    padding: 8px 16px;
  }
  .gallery {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .button {
    padding: 12px 24px;
  }
  .btn-all {
    align-items: center;
    justify-content: center;
  }
  .portfolio-photo-beck {
    width: 356px;
  }
  .portfolio-photo-beck-last {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .btn-1 {
    margin: 0;
  }
}
/* section */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
/* btn */
.button {
  cursor: pointer;
  display: flex;
}
.btn {
  font-weight: 500;
  background-color: #f4f4fd;
  color: #4d5ae5;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: background-color, color, border,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-all {
  display: flex;

  gap: 24px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* img */
.gallery {
  display: flex;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-photo-beck:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-photo {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 10px;
  line-height: 1.2;
  overflow: auto;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}
.portfolio-photo-beck:hover .overlay,
.portfolio-photo-beck:focus .overlay {
  transform: translateY(0%);
}
.photo-items {
  position: relative;
  overflow: hidden;
}
.gallery-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.gallery-desxription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.photo-txt-portfolio {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-photo-beck {
  background-color: white;
  box-sizing: border-box;
}
/* =====================
          backdrop
   ===================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  padding: 76px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}
.modal-btn:hover svg,
.modal-btn:focus svg {
  fill: #ffffff;
}
.modal-icon {
  width: 8px;
  height: 8px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn {
  border: #4d5ae5;
  background: #4d5ae5;
  border-radius: 4px;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  width: 165px;
  height: 40px;
  margin-top: 16px;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.telegram {
  fill: #ffffff;
  height: 20px;
  width: 24px;
}
.backdrop-txt {
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.user_name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  width: 360px;
  height: 58px;
  margin-bottom: 8px;
  color: #8e8f99;
}
.user-name-input {
  outline: none;
  margin-top: 4px;
  height: 40px;
  width: 360px;
  left: 0px;
  top: 18px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  text-indent: 34px;
}
.user-name-input:hover,
.user-name-input:focus {
  border: 1px solid #4d5ae5;
}
.user-name-input:focus + svg {
  fill: #4d5ae5;
}
.user-name-input:focus::placeholder {
  color: #4d5ae5;
}
.user-phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  width: 360px;
  height: 58px;
  margin-bottom: 8px;
  color: #8e8f99;
}
.user-phone-input {
  outline: none;
  margin-top: 4px;
  height: 40px;
  width: 360px;
  left: 0px;
  top: 18px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-indent: 34px;
}
.user-phone-input:hover,
.user-phone-input:focus {
  border: 1px solid #4d5ae5;
}
.user-phone-input:focus + svg {
  fill: #4d5ae5;
}
.user-phone-input:focus::placeholder {
  color: #4d5ae5;
}
.user-email {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  width: 360px;
  height: 58px;
  margin-bottom: 8px;
  color: #8e8f99;
}
.user-email-input {
  outline: none;
  margin-top: 4px;
  height: 40px;
  width: 360px;
  left: 0px;
  top: 18px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-indent: 34px;
}
.user-email-input:hover,
.user-email-input:focus {
  border: 1px solid #4d5ae5;
}
.user-email-input:focus + svg {
  fill: #4d5ae5;
}
.user-email-input:focus::placeholder {
  color: #4d5ae5;
}
.user-comment {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  width: 360px;
  height: 138px;
  color: #8e8f99;
}
.user-comment-input {
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  outline: none;
  height: 120px;
  width: 360px;
  left: 0px;
  top: 216px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment-input:hover,
.user-comment-input:focus {
  border: 1px solid #4d5ae5;
}
.user-comment-txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
}
.modalbd-icon {
  fill: #2e2f42;
  position: absolute;
  left: 34px;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bd-person {
  top: 148px;
}
.bd-phone {
  height: 24px;
  top: 210px;
}
.bd-email {
  height: 24px;
  top: 276px;
}
.modalbd-icon:hover,
.modalbd-icon:focus {
  fill: #4d5ae5;
}
.privacy_policy-txt {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: #757575;
}
.backdrop-btn {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  background: #4d5ae5;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-btn:hover,
.backdrop-btn:focus {
  background: #404bbf;
}
.privacy-policy {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  transform: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy:checked {
  background-color: #404bbf;
  border-color: #404bbf;
}
.privacy-policy-txt {
  color: #4d5ae5;
}
.modal-checkbox {
  display: flex;
  align-items: flex-end;
  margin-top: 16px;
  gap: 8px;
}
/* MOBILE MENU */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 48px;
  right: 48px;
  color: black;
}
.mobile-menu-nav {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 40px;
  margin-bottom: 284px;
  gap: 40px;
}
.mobile-menu-nav:hover,
.mobile-menu-nav:focus {
  color: #404bbf;
}
.mobile-menu-phone:hover,
.mobile-menu-phone:focus,
.mobile-menu-contact:hover,
.mobile-menu-contact:focus {
  color: #404bbf;
}

.mobile-menu-phone {
  color: #434455;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}
.mobile-menu-email {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contact {
  padding-left: 40px;
  margin-bottom: 48px;
}
.mobile-menu-close {
  width: 8px;
  height: 8px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.js-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
